export MNEMONIC="satisfy hundred mutual citizen horror plastic where dawn shallow dinner panther buzz"
export SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/0e0b80d3ab69437f97e8a623f3610c47"
export ETHERSCAN_API_KEY="QAYPKXFX4J76XJJA7184RNPSFPZNGNSJZW"